body {
    background-color:black;
    color:white;
}

#main_canvas {
    display:inline-block;
    width:900px;
}

#param_table {
    display:inline-block;
    vertical-align: top;
}

.pending_highlight {
    background-color:red;
}

.axis_col_heading {
    font-size: 1.4em;
    font-weight: bold;
    padding: 10px;
}

li.property_row {
    background-color: rgb(32, 32, 32);
    display:block;
    border:1px solid red;
    width:100%;
}

.odrive_container {
    width:800px;
    border:1px solid orange;
}